<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Aether Gazer: Resource</title>
</head>

<body>
    <main>
      <h1>Aether Gazer: Lookup</h1>
      <section>
        <h2>Form</h2>
        <!-- TODO: point the action form towards the API or get the selected options to API-->
        <form action="https://freecatphotoapp.com/submit-cat-photo">
          <fieldset>
            <legend>Enter blah blah blah</legend>
            <label><input id="indoor" type="radio" name="indoor-outdoor" value="indoor" checked> Indoor</label>
            <label><input id="outdoor" type="radio" name="indoor-outdoor" value="outdoor"> Outdoor</label>
          </fieldset>
          <fieldset>
            <legend>Enter blah blah blah</legend>
            <input id="loving" type="checkbox" name="personality" value="loving" checked> <label for="loving">Loving</label>
            <input id="lazy" type="checkbox" name="personality" value="lazy"> <label for="lazy">Lazy</label>
            <input id="energetic" type="checkbox" name="personality" value="energetic"> <label for="energetic">Energetic</label>
          </fieldset>
          <input type="text" name="catphotourl" placeholder="cat photo URL">
        </form>
      </section>
    </main>
</body>



</html>