<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Aether Gazer: Resource</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggle"
    type="button"
    data-toggle="collapse"
    data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" id="test" href="/wwww">Test</a>
        <a class="nav-item nav-link" id="test" href="/logout">Test</a>
        <a class="nav-item nav-link" id="test" href="/login">Test</a>
        <a class="nav-item nav-link" id="test" href="/sign-up">Test Up</a>
      </div>
    </div>
  </nav>
    <main>
      <h1 align="center">Aether Gazer: Lookup</h1>
      <section>
        <h2 align="center">Modifier Lookup</h2>
        <!-- TODO: point the action form towards the API or get the selected options to API-->
        <!-- TODO:separate forms, for mod, func, and sigil-->
        <form align="center" action="http://127.0.0.1:8001/mod" method="get">
          <fieldset>
            <legend>Gen-Zone</legend>
            <label><input id="Olympus" type="radio" name="gen_zone" value="Olympus" checked>Olympus</label>
            <label><input id="Nile" type="radio" name="gen_zone" value="Nile"> Nile</label>
            <label><input id="Shinou" type="radio" name="gen_zone" value="Shinou">Shinou</label>
            <label><input id="Yggdrasil" type="radio" name="gen_zone" value="Yggdrasil">Yggdrasil</label>
            <label><input id="Asterim" type="radio" name="gen_zone" value="Asterim">Asterim</label>
            <label><input id="Tianyuan" type="radio" name="gen_zone" value="Tianyuan">Tianyuan</label>
          </fieldset>
          <fieldset>
            <legend>Enter blah blah blah</legend>
            <input id="loving" type="checkbox" name="personality" value="loving" checked> <label for="loving">Loving</label>
            <input id="lazy" type="checkbox" name="personality" value="lazy"> <label for="lazy">Lazy</label>
            <input id="energetic" type="checkbox" name="personality" value="energetic"> <label for="energetic">Energetic</label>
          </fieldset>
          <input type="text" name="catphotourl" placeholder="cat photo URL">
          <button type="submit">Submit</button>
        </form>
      </section>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
</body>



</html>