<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Aether Gazer: Resource</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggle"
    type="button"
    data-toggle="collapse"
    data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" id="test" href="/wwww">Test</a>
        <a class="nav-item nav-link" id="test" href="/logout">Test</a>
        <a class="nav-item nav-link" id="test" href="/login">Test</a>
        <a class="nav-item nav-link" id="test" href="/sign-up">Test Up</a>
      </div>
    </div>
  </nav>
  {% block content %}
    <main>
      <h1 align="center">Aether Gazer: Resource</h1>
      <section>
        <h2 align="center">Modifier Lookup</h2>
        <!-- TODO: point the action form towards the API or get the selected options to API-->
        <!-- TODO:separate forms, for mod, func, and sigil-->
        <form align="center" action="/mod" method="get">
          <fieldset>
            <legend>Gen-Zone</legend>
            <label><input id="olympus" type="radio" name="gen_zone" value="Olympus">Olympus</label>
            <label><input id="nile" type="radio" name="gen_zone" value="Nile"> Nile</label>
            <label><input id="shinou" type="radio" name="gen_zone" value="Shinou">Shinou</label>
            <label><input id="yggdrasil" type="radio" name="gen_zone" value="Yggdrasil">Yggdrasil</label>
            <label><input id="asterim" type="radio" name="gen_zone" value="Asterim">Asterim</label>
            <label><input id="tianyuan" type="radio" name="gen_zone" value="Tianyuan">Tianyuan</label>
            <label><input id="n/a" type="radio" name="gen_zone" value="">N/A (select to exclude this filter)</label>
          </fieldset>
          <fieldset>
            <legend>Combat Type</legend>
            <label><input id="melee" type="radio" name="combat_type" value="Melee">Melee</label>
            <label><input id="ranged" type="radio" name="combat_type" value="Ranged"> Ranged</label>
            <label><input id="n/a" type="radio"name="combat_type" value="">N/A (select to exclude this filter)</label>
          </fieldset>
          <fieldset>
            <legend>Damage Type</legend>
            <label><input id="phys" type="radio" name="dmg_type" value="Physical">Physical</label>
            <label><input id="wind" type="radio" name="dmg_type" value="Wind" >Wind</label>
            <label><input id="fire" type="radio" name="dmg_type" value="Fire" >Fire</label>
            <label><input id="thunder" type="radio" name="dmg_type" value="Thunder">Thunder</label>
            <label><input id="shadow" type="radio" name="dmg_type" value="Shadow" >Shadow</label>
            <label><input id="light" type="radio" name="dmg_type" value="Light" >Light</label>
            <label><input id="ice" type="radio" name="dmg_type" value="Ice" >Ice</label>
            <label><input id="water" type="radio" name="dmg_type" value="Water" >Water</label>
            <label><input id="n/a" type="radio" name="dmg_type" value="">N/A (select to exclude this filter)</label>
          </fieldset>
          <fieldset>
            <legend>Combat Resource</legend>
            <label><input id="rage" type="radio" name="combat_rsc" value="Rage">Rage</label>
            <label><input id="energy" type="radio" name="combat_rsc" value="Energy">Energy</label>
            <label><input id="traces" type="radio" name="combat_rsc" value="Traces">Traces</label>
            <label><input id="divine_grace" type="radio" name="combat_rsc" value="Divine Grace">Divine Grace</label>
            <label><input id="n/a" type="radio" name="combat_rsc" value="">N/A (select to exclude this filter)</label>
          </fieldset>
          <!--
          <fieldset>
            <legend>Enter blah blah blah</legend>
            <input id="loving" type="checkbox" name="personality" value="loving" checked> <label for="loving">Loving</label>
            <input id="lazy" type="checkbox" name="personality" value="lazy"> <label for="lazy">Lazy</label>
            <input id="energetic" type="checkbox" name="personality" value="energetic"> <label for="energetic">Energetic</label>
          </fieldset>-->
          <input type="text" name="name" placeholder="Name of modifier">
          <input type="text" name="modifier_name" placeholder="Codename of modifier">
          <div><button type="submit">Submit</button></div>
        </form>
      </section>
      <section>
        <h2 align="center">Functor Lookup</h2>
        <form align="center" action="/func" method="get">
          <fieldset>
            <legend>Gen-Zone</legend>
            <label><input id="olympus" type="radio" name="gen_zone" value="Olympus">Olympus</label>
            <label><input id="nile" type="radio" name="gen_zone" value="Nile"> Nile</label>
            <label><input id="shinou" type="radio" name="gen_zone" value="Shinou">Shinou</label>
            <label><input id="yggdrasil" type="radio" name="gen_zone" value="Yggdrasil">Yggdrasil</label>
            <label><input id="asterim" type="radio" name="gen_zone" value="Asterim">Asterim</label>
            <label><input id="tianyuan" type="radio" name="gen_zone" value="Tianyuan">Tianyuan</label>
            <label><input id="n/a" type="radio" name="gen_zone" value="">N/A (select to exclude this filter)</label>
          </fieldset>
          <fieldset>
            <legend>Rarity</legend>
            <label><input id="rarity" type="number" name="rarity" step=1 value=3 min=3 max=5></label>
          </fieldset>
          <input type="text" name="functor_name" placeholder="Name of functor">
          <input type="text" name="sig_modifier" placeholder="Signature Modifier">
          <div><button type="submit">Submit</button></div>
        </form>
      </section>
      <section>
        <h2 align="center">Sigil Lookup</h2>
        <form align="center" action="http://127.0.0.1:8001/sigil" method="get">
          <input type="text" name="set_name" placeholder="Name of sigil">
          <input type="text" name="keyword" placeholder="Keyword in sigil set effect">
          <div><button type="submit">Submit</button></div>
        </form>
      </section>
    </main>
    {% endblock %}
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
</body>



</html>