{% extends "base.html" %} 


{% block content%}
{% set args_dict = {} %}
{% for key, value in dict(request.args).items() %}
    {% if value %}
        {%set _dummy=args_dict.update({key:value})%}
    {% endif %}
{%endfor%}
<h1 align="center">Results: </h1>
{% set res = func("http://127.0.0.1:8001/sigil", args_dict, headers = {'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.111 Safari/537.36'}) %}
<h2 align="center">Number of Results: {{ res.json()|length }} </h2>
{% for result in res.json()%}
    <div class="container">
        <h1>{{ result["name"]}}</h1>
        <p>{{ result["effect"]}}</p>
    </div>
{%endfor%}
{% endblock %}